body {
    background-image: url(https://www.publicdomainpictures.net/pictures/130000/nahled/white-box-background.jpg);
}
.container{
    position:center;
    padding: 0;
    text-decoration: none;
    color: inherit;
    width:auto;
}
h1{
    position:relative;
    text-align:center;
    font-size:70px;
    margin:5px;
    color:indianred;
    
}

nav {
    position:relative;
    text-decoration: none;
}
#links{
    position:relative;
    text-align: center;
   

}
a{ color:black;
   text-decoration:none;
   
}
a:hover{
    color:lightgray;
    text-transform:uppercase;
}
img{
   vertical-align:auto;
    max-height:500px;
    max-width:500px;
    border:solid;
    
}
div{
    position:relative;
    align-content:center;

}
.image{

    width: 100%;
    padding-left:2%;
    padding-top: 2%;

 
}
#picture2{
    display:inline-block;
    width:auto;
}
#picture3 {
    display: inline-block;
    width: auto;
}
#picture4 {
    display: inline-block;
    width: auto;
}
#info{
    text-align:center;
    font-size:medium;
    font-style:italic;
    margin-left:3%;
}
p{
    padding:2px;
}
#box1{
    border-top:double;
    border-left:double;
    border-right:double;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:3px;
    text-align:center;
    font-size:20px;
    float:left;
   
}
#box1:hover{
  
}
#box2 {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 20px;

}
#box3 {
   float: left;
    margin-left: 250px;
    margin-right: 10px;
    text-align: center;
    font-size: 20px;
}
#liceo{
    float:left;
    margin-top: 100px;
}
#employers{
    margin-top:2%;
    text-align:center;
    border-top:double;
    border-bottom: double;
    
}
ul{
    font-size:large;
    list-style-type:none;
   
}
li{
    margin:3%;
   font-size:30px;
 
  
}
span{
    font-style:italic;
    font-size:20px;
    margin-left:50px;
   
}
#steelinfo{
    float:right;
}
h2{
    text-align:center;
    margin:2%;
}
