body
{
    background-color:beige;
}
h1{
    text-align:center;
    font-size:x-large;
}
div{
    padding: 3px;
    font-size:large;
}

nav{
    border-radius:5px;
    border:double;
    border-width: 1px;
    width:inherit;
    text-align:center;
}